* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: auto;
}
.heyderTop {
    background-color:rgba(33, 33, 36, 0.968);
}
.navbar {
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
}

 .navbar_logo a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 2px black,1px -1px blue;
    opacity: 0.9;
    font-size: 30px;
    font-family: Maiandra GD;
}
.logo_O {
    color: cornflowerblue;
    font-family: Jokerman;
    font-weight:700;
    text-shadow: 2px 4px black,2px -2px blueviolet;
}
.logo_COM {
    color: rgb(114, 188, 4);
    text-shadow: 3px 3px rgb(39, 39, 39), 3px 3px white;
}
.navbar_nav_a {
    display: flex;
    border-radius: 20px;
}
.navbar_nav_a .navbar_navA_div  {
    padding: 15px;
    margin-top: 10px;
}

.navbar_nav_a .navbar_navA_div a {
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-family:  Maiandra GD;
    text-shadow: 2px 0px black, 2px 0px black;
}
.navbar_a_Click a {
    background-color:rgb(15, 70, 172);
    padding: 10px;
    border-radius: 10px;
    opacity: 0.799;
}

.navbar_nav_a .navbar_navA_div a:hover{
    cursor: grab;
    background-color:rgba(0, 0, 0, 0.438);
    padding: 10px;
    border-radius: 10px;
    opacity: 0.799;
}

  /* heyder_top_mid */

.heyder__top_mid {
    background-color:rgba(7, 7, 8, 0.933);
    padding: 2rem;
}
.heyder_top_mid_content {
    display: flex;
    justify-content: space-between;
}
.heyder_top_mid_content .heyder_Search {
    display: flex;
    border-radius: 4px;
}
.heyder_top_mid_content .heyder_Search input {
    background-color:rgba(33, 33, 36, 0.968);
    border: none;
    font-size: 15px;
    padding: 14px;
    padding-right: 40px;
    color: white;
    font-style: italic;
    outline: none;
}
.heyder_top_mid_content .heyder_Search input:hover {
    background-color:rgb(51, 51, 53);
}
.heyder__top_mid .heyder_Search .heyder_search_icon{
    background-color:rgba(33, 33, 36, 0.968);
    padding: 12px;
    font-size: 19px;
    color: white;
    opacity: 0.9;
}
.heyder_top_mid_content .heyderr_top_mid_icon_contact {
    display: flex;
}  
